doctype html 
html
  head
    title DanceAcademy
    block scripts
    block style 
    link(rel="shortcut icon", href="../static/favicon.ico", type="image/x-icon")
    style
      include ../static/style.css
  body
    nav#navbar  
      ul
        div#logo 
          img(src="../static/logo.png", alt="logo")
        li #[a(href = "/home") Home]
        li #[a(href = "/") About]
        li #[a(href = "/") Services]
        li #[a(href = "/contact") Contact]
    block content
    footer#foot
        | Copyright © www.DanceAcademy.com. All rights Reserved.